*{
	margin: 0;
	padding: 0;
	font-family: posterman;
	letter-spacing: .5px;
}
@font-face {
    font-family: 'posterman';
    src: url('/styles/Posterman_PERSONAL_USE_ONLY.otf') format('truetype');
}
:root{
	--primary-yellow:#F5CB00;
	--background-gray:#E6E6E6;
}
button{
	padding: 7px 25px;
	font-size: 17px;
	font-weight: bold;
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: var(--primary-yellow);
	border: none;
	cursor: pointer;
	width: fit-content;
}
p{
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* --------- header --------- */
header{
	background-color: var(--primary-yellow);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px 50px;
	position: sticky;
	top: 0px;
	z-index: 3;
}
#nav-id{
	display: flex;
	gap: 20px;
}
.nav-link{
	text-decoration: none;
	color: black;
	font-weight: bold;
	padding: 5px;
	font-size: 17px;
}
/* --------- section #1 --------- */
.section_1{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	align-items: center;
	justify-content: center;
	padding: 80px 0;
}
.section_1 > div:nth-child(1){
	display: flex;
	justify-content: center;
}
.section_1 > section{
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.section_1 > section > div > h1{
	font-size: 100px;
	font-weight: lighter;
	width: 400px;
	line-height: 80px;
}
.section_1 > section > div > p{
	font-size: 15px;
	font-weight: 500;
	color: rgb(95, 95, 95);
	max-width: 450px;
	min-width: 100px;
	display: flex;
	flex-wrap: wrap;
}
/* --------- Section #1.5 --------- */
.section_1-5{
	display: flex;
	justify-content: center;
}
.section_1-5 > section{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	width: 1000px;
	background-color: var(--background-gray);
	box-shadow: 30px 30px 40px rgba(55, 55, 55, 0.359);
	padding: 60px 45px 60px 60px;
}
.section_1-5 >section > div {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-self: start;
	gap: 20px;
}
.section_1-5 > section > div > h2{
	font-size: 55px;
	color: var(--primary-yellow);
	width: 220px;
	font-weight: normal;
	line-height: 50px;
}
.section_1-5 > section > div > p{
	display: flex;
	max-width: 240px;
	min-width: 150px;
	flex-wrap: wrap;
}
.section_1-5 > section > div > button{
	background: transparent;
	padding: 7px 15px 7px 0px;
}
.section_1-5 > section > section{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 100px;
}
/* --------- Section #2 --------- */
.section_2{
	background-color: var(--primary-yellow);
	padding: 410.6px 60px 180px 70px;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	position: relative;
	top: -180.6px;
	z-index: -1;
}
.section_2 > section{
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.section_2 > section > div > h2{
	font-size: 80px;
	width: max-content;
	line-height: 80px;
}
.section_2 > section > div > p{
	max-width: 350px;
}
.section_2 > section > button{
	background-color: black;
	color: white;
}
.section_2 > section:nth-child(2){
	position: relative;
	right: 133px;
	top: 100px;
}
/* --------- Section #3 --------- */
.section_3{
	display: flex;
	justify-content: center;
	align-items: center;
}
.section_3 > section{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	background: var(--background-gray);
	width: fit-content;
	box-shadow: 30px 30px 40px rgba(55, 55, 55, 0.359);
}
.section_3 > section > div {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.section_3 > section > div:nth-child(2){
	justify-content: center;
	padding-left: 50px;
}
.section_3 > section > div > div> h2{
	font-size: 80px;
	font-weight: 400;
	width: fit-content;
	color: var(--primary-yellow);
	line-height: 50px;	
}
.section_3 > section > div > div > p{
	max-width: 350px; 
	min-width: 100px;
}
.section_3 > section > div:nth-child(2) > div:nth-child(4){
	display: flex;
	flex-direction: row;
	justify-content: end;
	padding-right: 50px;
}